main{
    grid-area: main !important;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.categories_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

main > h1{

    margin-top: 3rem;
    font-weight: bold;
    font-size: 3rem;

}

.item{

    border: 2px solid white;
    background-color: gainsboro;
}

.item > h2{

    font-weight: bold;
    text-align: center;
    font-size: 3rem;

}

.categories_container img{

    width: 10vw;
    height: 20vh;

}
